*{
  box-sizing: border-box;
  margin: 0;
}

body{
	background:url(img/Background.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-wrap: break-word;
}

ul{
  padding: 0;
}


/*nome no topo*/
.conteudoTopo{
  width: 100%;
  margin: 0 auto;
  padding: 10px 0px;
  padding-left: 5px;
  padding-right: 1px;
	background:url(img/BackgroundTopo.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: auto 75px;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
  color: #ffffff;
}
.alterarCalendario{
  right: 0;
  background-color: #000000ab;
  border: #D31C5B 1px solid;
  display: flex;
  border-radius: 50px;
  margin: auto;
}
#botaoAlterarCalendario{
  color: #D31C5B;
  font-size: 25px;
  padding: 5px;
}
.botaoSelecionado{
  border-radius: 50px;
  /* background-color: #595D5C; */
  background-color: #cecece;
  border: 2px solid #D31C5B;
}
.botaoSelecionar{
  border: none; 
  border-radius: 50px;
}

a{
  cursor: pointer;
}


/*botão*/
.conteudoMenu{
  width: 98%;
  margin: 20px auto;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
#linkMenuSimulador{
  background: #D31C5B;
}
#linkMenuCalendario{
  background: #231F20;
}
.linkMenu{
  margin: auto 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color:#ffffff;
  padding: 10px;
  font-size: 18px;
  width: 30%;
}
.nomeBotao{
  font-weight: bolder;
}
.imgBotao{
  height: 16px;
  padding: 0px 10px;
}


/*conteudo*/
.calendarioLista{
  max-width: 950px;
  margin: 2.5px auto;
  padding: 15px 40px;
  display: grid;
  grid-template-columns: 20% 80%;
  border-radius: 8px;
}

.conteudoMes{
  margin: 6px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
}
#mes{
  text-align: center;
  border-radius: 10px;
  background-color: #8E9794;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 18px;
}

.conteudoEvento{
  margin: 6px;
  border: #BFC8C5 solid 2px;
  border-radius: 10px;
  background-color: #ffffff;
}
.evento{
  display: grid;
  grid-template-columns: 40px auto;
  list-style: none;
  text-align: center;
  padding: 6px 5px;
}
.evento:nth-child(even){
  background-color: #f2f2f2;
}
.evento:last-child{
  border-radius: 0px 0px 10px 10px;
}
.descricaoEvento{
  font-size: 18px;
}
#dia{
  color: #ED2830;
  font-weight: bolder;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
#descricao{
  color: #595D5C;
  text-align: left;
}
#hora{
  color: #004F9F;
  font-weight: bolder;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}


/*TABELA*/
.calendarioTabela{
  display: none;
}
.divisaoTabelas{
  margin: auto;
}
.tabela{
  font-size: 10px;
}

#tituloNome{
  background: #D31C5B;
}
.nomeColuna{
  padding: 10px;
}
#tituloTempo{
  background-color: #595D5C;
}
.nomeData{
  width: 100px;
  padding: 3px;
}

.nomeModulo{
  width: 150px;
  background-color: #595D5C;
  padding: 10px;
}
.data, .semData{
  font-weight: bold;
  text-align: center;
}
.data{
  color: #000000;
}
.semData{
  color: #ED2830;
}
#cor1{
  background-color: #cecece;
  padding: 10px;
}
#cor2{
  background-color: #f1f1f1;
  padding: 10px;
}



.calendarioListaOcultar{
  display: none;
}
.calendarioTabelaMostrar{
  color: #ffffff;
  display: grid;
}
hr{
  border-color: #ffffff;
  margin-bottom: 15px;
  margin-top: 3px;
}


/* ----- Responsive CSS ----- */

@media only screen and (max-width: 1407px){
  #divisaoTabela1{
    width: 100%;
  }
  #tabela1{
    display: block;
    overflow: auto;
    width: 98%;
    margin: auto;
  }
}
@media only screen and (max-width: 740px){
  .calendarioLista{
    grid-template-columns: 100%;
    width: 100%;
    padding: 3px; 
  }
  .evento{
    display: grid;
    grid-template-columns: 30px 1fr 100px;
  }
}

@media only screen and (max-width: 500px){
  .evento{
    grid-template-columns: 40px 1fr 55px;
  }
}

@media only screen and (max-width: 360px){
  #dia{
    margin-right: 3px;
    margin-left: 3px;
  }
  #descricao{
    margin-left: 5px;
  }
}